## Notebook for formatting data frames for phase association

In [2]:
import pandas as pd
import numpy as np

## 1. Format data frames for picks

### 1.1 Format one data frame first

In [62]:
df_FS09B_20121001 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/FS09B_20121001.csv')

In [63]:
df_FS09B_20121001

,Unnamed: 0,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival
0,0,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:04:09.141700Z
1,1,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:36:41.601700Z
2,2,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:55:43.061700Z
3,3,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T01:16:07.681700Z
4,4,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T01:41:37.561700Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,203,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T22:53:32.401700Z,NaN
204,204,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:25:19.181700Z,NaN
205,205,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:31:08.241700Z,NaN
206,206,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:49:13.461700Z,NaN
207,207,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:56:56.121700Z,NaN

In [64]:
df_FS09B_20121001['phase'] = np.nan
df_FS09B_20121001

,Unnamed: 0,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,...,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,phase
0,0,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:04:09.141700Z,NaN
1,1,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:36:41.601700Z,NaN
2,2,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:55:43.061700Z,NaN
3,3,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T01:16:07.681700Z,NaN
4,4,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T01:41:37.561700Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,203,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T22:53:32.401700Z,NaN,NaN
204,204,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:25:19.181700Z,NaN,NaN
205,205,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:31:08.241700Z,NaN,NaN
206,206,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:49:13.461700Z,NaN,NaN
207,207,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:56:56.121700Z,NaN,NaN

In [65]:
p_picks = df_FS09B_20121001.loc[df_FS09B_20121001['trace_p_arrival'].notna(), 'trace_p_arrival']
p_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_p_arrival'].notna(), 'phase'] = "P"
p_stations = df_FS09B_20121001.loc[df_FS09B_20121001['trace_p_arrival'].notna(), 'station_code']
p_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_p_arrival'].notna(), 'phase']

In [66]:
p_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_p_arrival'].notna(), 'phase']

In [67]:
# print(p_picks)
# print(p_phase)
# print(p_stations)
p_phase

0      P
1      P
2      P
3      P
4      P
      ..
109    P
110    P
111    P
112    P
113    P
Name: phase, Length: 114, dtype: object

In [68]:
s_picks =  df_FS09B_20121001.loc[df_FS09B_20121001['trace_s_arrival'].notna(), 'trace_s_arrival']
s_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_s_arrival'].notna(), 'phase'] = "S"
s_stations = df_FS09B_20121001.loc[df_FS09B_20121001['trace_s_arrival'].notna(), 'station_code']
s_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_s_arrival'].notna(), 'phase']

In [69]:
s_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_s_arrival'].notna(), 'phase']

In [70]:
s_phase

114    S
115    S
116    S
117    S
118    S
      ..
203    S
204    S
205    S
206    S
207    S
Name: phase, Length: 94, dtype: object

In [72]:
time = pd.concat(objs = [p_picks,s_picks] , axis=0)
phase = pd.concat(objs = [p_phase,s_phase] , axis=0)

In [73]:
print(time)
print(phase)

0      2012-10-01T00:04:09.141700Z
1      2012-10-01T00:36:41.601700Z
2      2012-10-01T00:55:43.061700Z
3      2012-10-01T01:16:07.681700Z
4      2012-10-01T01:41:37.561700Z
                  ...
203    2012-10-01T22:53:32.401700Z
204    2012-10-01T23:25:19.181700Z
205    2012-10-01T23:31:08.241700Z
206    2012-10-01T23:49:13.461700Z
207    2012-10-01T23:56:56.121700Z
Length: 208, dtype: object
0      P
1      P
2      P
3      P
4      P
      ..
203    S
204    S
205    S
206    S
207    S
Name: phase, Length: 208, dtype: object

In [75]:
stations = df_FS09B_20121001['station_code']
stations

0      FS09B
1      FS09B
2      FS09B
3      FS09B
4      FS09B
       ...
203    FS09B
204    FS09B
205    FS09B
206    FS09B
207    FS09B
Name: station_code, Length: 208, dtype: object

In [76]:
picks = pd.concat(objs = [stations,phase,time] , axis=1)

In [77]:
picks

    station_code phase                            0
0          FS09B     P  2012-10-01T00:04:09.141700Z
1          FS09B     P  2012-10-01T00:36:41.601700Z
2          FS09B     P  2012-10-01T00:55:43.061700Z
3          FS09B     P  2012-10-01T01:16:07.681700Z
4          FS09B     P  2012-10-01T01:41:37.561700Z
..           ...   ...                          ...
203        FS09B     S  2012-10-01T22:53:32.401700Z
204        FS09B     S  2012-10-01T23:25:19.181700Z
205        FS09B     S  2012-10-01T23:31:08.241700Z
206        FS09B     S  2012-10-01T23:49:13.461700Z
207        FS09B     S  2012-10-01T23:56:56.121700Z

[208 rows x 3 columns]

### 1.2 Concatenate data frames from several stations and format

In [26]:
df_FS09B_20121014 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/FS09B_20121014.csv', index_col=0)
# df_FS13B_20121006 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/FS13B_20121006.csv')
df_G10B_20121014 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/G10B_20121014.csv', index_col=0)
df_G19B_20121014 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/G19B_20121014.csv', index_col=0)
df_G25B_20121014 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/G25B_20121014.csv', index_col=0)
df_G27B_20121014 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/G27B_20121014.csv', index_col=0)
df_J09B_20121014 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/J09B_20121014.csv', index_col=0)
df_M12B_20121014 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/M12B_20121014.csv', index_col=0)
df_M14B_20121014 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/M14B_20121014.csv', index_col=0)

In [27]:
df = pd.concat(objs = [df_FS09B_20121014,df_G10B_20121014,df_G19B_20121014,df_G25B_20121014,df_G27B_20121014,df_J09B_20121014,df_M12B_20121014,df_M14B_20121014] , axis=0)
df = df.reset_index()
df

,index,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival
0,0,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:05:57.814700Z
1,1,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:26:31.574700Z
2,2,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:37:17.174700Z
3,3,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:39:52.134700Z
4,4,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:47:23.734700Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2067,290,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T22:24:36.789869Z,NaN
2068,291,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T22:26:19.909869Z,NaN
2069,292,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T23:29:58.769869Z,NaN
2070,293,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T23:32:10.929869Z,NaN
2071,294,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T23:38:56.349869Z,NaN

In [28]:
len(df)

2072

In [7]:
# p_picks = df.loc[df['trace_p_arrival'].notna(), 'trace_p_arrival']
# p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase'] = "P"
# p_stations = df.loc[df['trace_p_arrival'].notna(), 'station_code']
# p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase']

In [8]:
# p_picks

0       2012-10-14T00:05:57.814700Z
1       2012-10-14T00:26:31.574700Z
2       2012-10-14T00:37:17.174700Z
3       2012-10-14T00:39:52.134700Z
4       2012-10-14T00:47:23.734700Z
                   ...
1984    2012-10-14T23:08:51.789869Z
1985    2012-10-14T23:29:54.589869Z
1986    2012-10-14T23:35:37.889869Z
1987    2012-10-14T23:38:46.649869Z
1988    2012-10-14T23:44:53.729869Z
Name: trace_p_arrival, Length: 1438, dtype: object

In [24]:
# p_stations

0       FS09B
1       FS09B
2       FS09B
3       FS09B
4       FS09B
        ...
1984     M14B
1985     M14B
1986     M14B
1987     M14B
1988     M14B
Name: station_code, Length: 1438, dtype: object

In [25]:
# # Check if the order of the picks and stations for P phase are not swapped
# df.loc[1984:1988]

,index,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,...,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,phase
1984,207,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,NaN,2012-10-14T23:08:51.789869Z,P
1985,208,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,NaN,2012-10-14T23:29:54.589869Z,P
1986,209,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,NaN,2012-10-14T23:35:37.889869Z,P
1987,210,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,NaN,2012-10-14T23:38:46.649869Z,P
1988,211,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,NaN,2012-10-14T23:44:53.729869Z,P

In [29]:
p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase'] = "P"

In [30]:
# Notice that "P" is assigned in the phase column only for P picks
df

,index,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,...,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,phase
0,0,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:05:57.814700Z,P
1,1,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:26:31.574700Z,P
2,2,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:37:17.174700Z,P
3,3,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:39:52.134700Z,P
4,4,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:47:23.734700Z,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2067,290,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T22:24:36.789869Z,NaN,NaN
2068,291,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T22:26:19.909869Z,NaN,NaN
2069,292,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T23:29:58.769869Z,NaN,NaN
2070,293,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T23:32:10.929869Z,NaN,NaN
2071,294,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T23:38:56.349869Z,NaN,NaN

In [34]:
p_stas_picks_phase = df.loc[df['trace_p_arrival'].notna(), ['station_code','trace_p_arrival','phase']]
# p_stations = df.loc[df['trace_p_arrival'].notna(), 'station_code']
# p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase']
p_stas_picks_phase

     station_code              trace_p_arrival phase
0           FS09B  2012-10-14T00:05:57.814700Z     P
1           FS09B  2012-10-14T00:26:31.574700Z     P
2           FS09B  2012-10-14T00:37:17.174700Z     P
3           FS09B  2012-10-14T00:39:52.134700Z     P
4           FS09B  2012-10-14T00:47:23.734700Z     P
...           ...                          ...   ...
1984         M14B  2012-10-14T23:08:51.789869Z     P
1985         M14B  2012-10-14T23:29:54.589869Z     P
1986         M14B  2012-10-14T23:35:37.889869Z     P
1987         M14B  2012-10-14T23:38:46.649869Z     P
1988         M14B  2012-10-14T23:44:53.729869Z     P

[1438 rows x 3 columns]

In [40]:
_p_stas_picks_phase = p_stas_picks_phase.rename(columns={"station_code": "station", "trace_p_arrival": "time"})
_p_stas_picks_phase

     station                         time phase
0      FS09B  2012-10-14T00:05:57.814700Z     P
1      FS09B  2012-10-14T00:26:31.574700Z     P
2      FS09B  2012-10-14T00:37:17.174700Z     P
3      FS09B  2012-10-14T00:39:52.134700Z     P
4      FS09B  2012-10-14T00:47:23.734700Z     P
...      ...                          ...   ...
1984    M14B  2012-10-14T23:08:51.789869Z     P
1985    M14B  2012-10-14T23:29:54.589869Z     P
1986    M14B  2012-10-14T23:35:37.889869Z     P
1987    M14B  2012-10-14T23:38:46.649869Z     P
1988    M14B  2012-10-14T23:44:53.729869Z     P

[1438 rows x 3 columns]

In [9]:
# s_picks =  df.loc[df['trace_s_arrival'].notna(), 'trace_s_arrival']
# s_phase = df.loc[df['trace_s_arrival'].notna(), 'phase'] = "S"
# s_stations = df.loc[df['trace_s_arrival'].notna(), 'station_code']
# s_phase = df.loc[df['trace_s_arrival'].notna(), 'phase']

In [19]:
# s_picks

183     2012-10-14T00:37:32.314700Z
184     2012-10-14T00:40:08.274700Z
185     2012-10-14T00:42:41.014700Z
186     2012-10-14T00:43:14.294700Z
187     2012-10-14T00:44:06.494700Z
                   ...
2067    2012-10-14T22:24:36.789869Z
2068    2012-10-14T22:26:19.909869Z
2069    2012-10-14T23:29:58.769869Z
2070    2012-10-14T23:32:10.929869Z
2071    2012-10-14T23:38:56.349869Z
Name: trace_s_arrival, Length: 634, dtype: object

In [23]:
# s_stations

183     FS09B
184     FS09B
185     FS09B
186     FS09B
187     FS09B
        ...
2067     M14B
2068     M14B
2069     M14B
2070     M14B
2071     M14B
Name: station_code, Length: 634, dtype: object

In [21]:
# # Check if the order of the picks and stations for S picks are not swapped
# df.loc[183:187]

,index,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,...,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,phase
183,183,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,2012-10-14T00:37:32.314700Z,NaN,S
184,184,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,2012-10-14T00:40:08.274700Z,NaN,S
185,185,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,2012-10-14T00:42:41.014700Z,NaN,S
186,186,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,2012-10-14T00:43:14.294700Z,NaN,S
187,187,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,2012-10-14T00:44:06.494700Z,NaN,S

In [22]:
# Check if the order of the stations are not swapped

In [13]:
# print(len(p_phase)+len(s_phase))

2072

In [35]:
s_phase = df.loc[df['trace_s_arrival'].notna(), 'phase'] = "S"

In [36]:
# Check if S is assigned to the appropriate rows
df

,index,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,...,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,phase
0,0,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:05:57.814700Z,P
1,1,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:26:31.574700Z,P
2,2,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:37:17.174700Z,P
3,3,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:39:52.134700Z,P
4,4,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-14T00:00:00.014700Z,,,,,,NaN,2012-10-14T00:47:23.734700Z,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2067,290,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T22:24:36.789869Z,NaN,S
2068,291,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T22:26:19.909869Z,NaN,S
2069,292,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T23:29:58.769869Z,NaN,S
2070,293,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T23:32:10.929869Z,NaN,S
2071,294,,,7D,,M14B,NaN,40.985001,-124.589699,-638.0,...,50.0,2012-10-14T00:00:00.009869Z,,,,,,2012-10-14T23:38:56.349869Z,NaN,S

In [37]:
s_stas_picks_phase = df.loc[df['trace_s_arrival'].notna(), ['station_code','trace_s_arrival','phase']]
# p_stations = df.loc[df['trace_p_arrival'].notna(), 'station_code']
# p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase']
s_stas_picks_phase

     station_code              trace_s_arrival phase
183         FS09B  2012-10-14T00:37:32.314700Z     S
184         FS09B  2012-10-14T00:40:08.274700Z     S
185         FS09B  2012-10-14T00:42:41.014700Z     S
186         FS09B  2012-10-14T00:43:14.294700Z     S
187         FS09B  2012-10-14T00:44:06.494700Z     S
...           ...                          ...   ...
2067         M14B  2012-10-14T22:24:36.789869Z     S
2068         M14B  2012-10-14T22:26:19.909869Z     S
2069         M14B  2012-10-14T23:29:58.769869Z     S
2070         M14B  2012-10-14T23:32:10.929869Z     S
2071         M14B  2012-10-14T23:38:56.349869Z     S

[634 rows x 3 columns]

In [42]:
_s_stas_picks_phase = s_stas_picks_phase.rename(columns={"station_code": "station", "trace_s_arrival": "time"})
_s_stas_picks_phase

     station                         time phase
183    FS09B  2012-10-14T00:37:32.314700Z     S
184    FS09B  2012-10-14T00:40:08.274700Z     S
185    FS09B  2012-10-14T00:42:41.014700Z     S
186    FS09B  2012-10-14T00:43:14.294700Z     S
187    FS09B  2012-10-14T00:44:06.494700Z     S
...      ...                          ...   ...
2067    M14B  2012-10-14T22:24:36.789869Z     S
2068    M14B  2012-10-14T22:26:19.909869Z     S
2069    M14B  2012-10-14T23:29:58.769869Z     S
2070    M14B  2012-10-14T23:32:10.929869Z     S
2071    M14B  2012-10-14T23:38:56.349869Z     S

[634 rows x 3 columns]

In [44]:
picks = pd.concat(objs = [_p_stas_picks_phase,_s_stas_picks_phase] , axis=0)
picks

     station                         time phase
0      FS09B  2012-10-14T00:05:57.814700Z     P
1      FS09B  2012-10-14T00:26:31.574700Z     P
2      FS09B  2012-10-14T00:37:17.174700Z     P
3      FS09B  2012-10-14T00:39:52.134700Z     P
4      FS09B  2012-10-14T00:47:23.734700Z     P
...      ...                          ...   ...
2067    M14B  2012-10-14T22:24:36.789869Z     S
2068    M14B  2012-10-14T22:26:19.909869Z     S
2069    M14B  2012-10-14T23:29:58.769869Z     S
2070    M14B  2012-10-14T23:32:10.929869Z     S
2071    M14B  2012-10-14T23:38:56.349869Z     S

[2072 rows x 3 columns]

In [47]:
# Swap the time and phase columns
picks = picks.iloc[:,[0,2,1]]
picks

     station phase                         time
0      FS09B     P  2012-10-14T00:05:57.814700Z
1      FS09B     P  2012-10-14T00:26:31.574700Z
2      FS09B     P  2012-10-14T00:37:17.174700Z
3      FS09B     P  2012-10-14T00:39:52.134700Z
4      FS09B     P  2012-10-14T00:47:23.734700Z
...      ...   ...                          ...
2067    M14B     S  2012-10-14T22:24:36.789869Z
2068    M14B     S  2012-10-14T22:26:19.909869Z
2069    M14B     S  2012-10-14T23:29:58.769869Z
2070    M14B     S  2012-10-14T23:32:10.929869Z
2071    M14B     S  2012-10-14T23:38:56.349869Z

[2072 rows x 3 columns]

In [56]:
picks.to_csv("~/elep-test/surface_events/data/phase_association/20121014/picks_20121014.csv")

In [14]:
# time = pd.Series(pd.concat(objs = [p_picks,s_picks] , axis=0), name='time')
# phase = pd.Series(pd.concat(objs = [p_phase,s_phase] , axis=0),name='phase')

In [15]:
time

0       2012-10-14T00:05:57.814700Z
1       2012-10-14T00:26:31.574700Z
2       2012-10-14T00:37:17.174700Z
3       2012-10-14T00:39:52.134700Z
4       2012-10-14T00:47:23.734700Z
                   ...
2067    2012-10-14T22:24:36.789869Z
2068    2012-10-14T22:26:19.909869Z
2069    2012-10-14T23:29:58.769869Z
2070    2012-10-14T23:32:10.929869Z
2071    2012-10-14T23:38:56.349869Z
Name: time, Length: 2072, dtype: object

In [16]:
# type(time)

pandas.core.series.Series

In [17]:
# stations = pd.Series(df['station_code'],name='station')

In [18]:
# picks = pd.concat(objs = [stations,phase,time] , axis=1)
# picks

     station phase                         time
0      FS09B     P  2012-10-14T00:05:57.814700Z
1      FS09B     P  2012-10-14T00:26:31.574700Z
2      FS09B     P  2012-10-14T00:37:17.174700Z
3      FS09B     P  2012-10-14T00:39:52.134700Z
4      FS09B     P  2012-10-14T00:47:23.734700Z
...      ...   ...                          ...
2067    M14B     S  2012-10-14T22:24:36.789869Z
2068    M14B     S  2012-10-14T22:26:19.909869Z
2069    M14B     S  2012-10-14T23:29:58.769869Z
2070    M14B     S  2012-10-14T23:32:10.929869Z
2071    M14B     S  2012-10-14T23:38:56.349869Z

[2072 rows x 3 columns]

In [219]:
# picks.iloc[1224]

station                           G25B
phase                                P
time       2012-10-14T05:11:55.309500Z
Name: 1224, dtype: object

In [217]:
# 2448/2

1224.0

In [159]:
# picks.to_csv("~/elep-test/surface_events/data/phase_association/picks")

## 2. Format data frames for stations

In [197]:
row_FS09B_20121001 = df_FS09B_20121001.iloc[0]
row_FS09B_20121001

Unnamed: 0                                          0
event_id
source_type
station_network_code                               7D
station_channel_code
station_code                                    FS09B
station_location_code                             NaN
station_latitude_deg                        40.438702
station_longitude_deg                     -124.808502
station_elevation_m                           -2161.0
trace_name
trace_sampling_rate_hz                           50.0
trace_start_time          2012-10-01T00:00:00.001700Z
trace_S_arrival_sample
trace_P_arrival_sample
trace_S_onset
trace_P_onset
trace_snr_db
trace_s_arrival                                   NaN
trace_p_arrival           2012-10-01T00:04:09.141700Z
Name: 0, dtype: object

In [198]:
_row_FS09B_20121001 = row_FS09B_20121001.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]

In [199]:
_row_FS09B_20121001

station_code                  FS09B
station_longitude_deg   -124.808502
station_latitude_deg      40.438702
station_elevation_m         -2161.0
Name: 0, dtype: object

In [49]:
row_FS09B_20121014 = df_FS09B_20121014.iloc[0]
# row_FS13B_20121006 =df_FS13B_20121006.iloc[0]
row_G10B_20121014 =df_G10B_20121014.iloc[0]
row_G19B_20121014=df_G19B_20121014.iloc[0]
row_G25B_20121014 =df_G25B_20121014.iloc[0]
row_G27B_20121014 =df_G27B_20121014.iloc[0]
row_J09B_20121014 =df_J09B_20121014.iloc[0]
row_M12B_20121014 =df_M12B_20121014.iloc[0]
row_M14B_20121014 =df_M14B_20121014.iloc[0]

In [50]:
_row_FS09B_20121014 = row_FS09B_20121014.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
# _row_FS13B_20121014  = row_FS13B_20121014 .loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_G10B_20121014 = row_G10B_20121014.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_G19B_20121014 = row_G19B_20121014.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_G25B_20121014 = row_G25B_20121014.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_G27B_20121014 = row_G27B_20121014.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_J09B_20121014 = row_J09B_20121014.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_M12B_20121014 = row_M12B_20121014.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_M14B_20121014 = row_M14B_20121014.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]

In [52]:
_row_FS09B_20121014  = pd.DataFrame(np.array(_row_FS09B_20121014).reshape(1,len(_row_FS09B_20121014)))
# _row_FS13B_20121006  = pd.DataFrame(np.array(_row_FS13B_20121006).reshape(1,len(_row_FS13B_20121006)))
_row_G10B_20121014 = pd.DataFrame(np.array(_row_G10B_20121014).reshape(1,len(_row_G10B_20121014)))
_row_G19B_20121014 = pd.DataFrame(np.array(_row_G19B_20121014).reshape(1,len(_row_G19B_20121014)))
_row_G25B_20121014 = pd.DataFrame(np.array(_row_G25B_20121014).reshape(1,len(_row_G25B_20121014)))
_row_G27B_20121014 = pd.DataFrame(np.array(_row_G27B_20121014).reshape(1,len(_row_G27B_20121014)))
_row_J09B_20121014 = pd.DataFrame(np.array(_row_J09B_20121014).reshape(1,len(_row_J09B_20121014)))
_row_M12B_20121014= pd.DataFrame(np.array(_row_M12B_20121014).reshape(1,len(_row_M12B_20121014)))
_row_M14B_20121014 = pd.DataFrame(np.array(_row_M14B_20121014).reshape(1,len(_row_M14B_20121014)))

In [53]:
stations = pd.concat(objs = [_row_FS09B_20121014,_row_G10B_20121014,_row_G19B_20121014,_row_G25B_20121014,_row_G27B_20121014,_row_J09B_20121014,_row_M12B_20121014,_row_M14B_20121014] , axis=0, ignore_index=True)
stations

       0           1          2       3
0  FS09B -124.808502  40.438702 -2161.0
1   G10B -125.553299  40.677898 -2936.0
2   G19B -125.773598    41.3074 -3071.0
3   G25B -124.586098  41.919899  -430.0
4   G27B -126.016701  41.916599 -3480.0
5   J09B -124.726997  43.151001  -252.0
6   M12B -124.946098  42.183998 -1045.0
7   M14B -124.589699  40.985001  -638.0

In [54]:
_stations = stations.rename(columns={0: 'id',1: 'longitude',2: 'latitude',3: 'elevation'})
_stations

      id   longitude   latitude elevation
0  FS09B -124.808502  40.438702   -2161.0
1   G10B -125.553299  40.677898   -2936.0
2   G19B -125.773598    41.3074   -3071.0
3   G25B -124.586098  41.919899    -430.0
4   G27B -126.016701  41.916599   -3480.0
5   J09B -124.726997  43.151001    -252.0
6   M12B -124.946098  42.183998   -1045.0
7   M14B -124.589699  40.985001    -638.0

In [55]:
_stations.to_csv("~/elep-test/surface_events/data/phase_association/20121014/stations_20121014.csv")