## Notebook for formatting data frames for phase association

In [61]:
import pandas as pd
import numpy as np

## 1. Format data frames for picks

### 1.1 Format one data frame first

In [62]:
df_FS09B_20121001 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/FS09B_20121001.csv')

In [63]:
df_FS09B_20121001

,Unnamed: 0,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival
0,0,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:04:09.141700Z
1,1,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:36:41.601700Z
2,2,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:55:43.061700Z
3,3,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T01:16:07.681700Z
4,4,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T01:41:37.561700Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,203,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T22:53:32.401700Z,NaN
204,204,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:25:19.181700Z,NaN
205,205,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:31:08.241700Z,NaN
206,206,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:49:13.461700Z,NaN
207,207,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:56:56.121700Z,NaN

In [64]:
df_FS09B_20121001['phase'] = np.nan
df_FS09B_20121001

,Unnamed: 0,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,...,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,phase
0,0,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:04:09.141700Z,NaN
1,1,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:36:41.601700Z,NaN
2,2,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:55:43.061700Z,NaN
3,3,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T01:16:07.681700Z,NaN
4,4,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T01:41:37.561700Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,203,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T22:53:32.401700Z,NaN,NaN
204,204,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:25:19.181700Z,NaN,NaN
205,205,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:31:08.241700Z,NaN,NaN
206,206,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:49:13.461700Z,NaN,NaN
207,207,,,7D,,FS09B,NaN,40.438702,-124.808502,-2161.0,...,50.0,2012-10-01T00:00:00.001700Z,,,,,,2012-10-01T23:56:56.121700Z,NaN,NaN

In [65]:
p_picks = df_FS09B_20121001.loc[df_FS09B_20121001['trace_p_arrival'].notna(), 'trace_p_arrival']
p_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_p_arrival'].notna(), 'phase'] = "P"
p_stations = df_FS09B_20121001.loc[df_FS09B_20121001['trace_p_arrival'].notna(), 'station_code']
p_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_p_arrival'].notna(), 'phase']

In [66]:
p_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_p_arrival'].notna(), 'phase']

In [67]:
# print(p_picks)
# print(p_phase)
# print(p_stations)
p_phase

0      P
1      P
2      P
3      P
4      P
      ..
109    P
110    P
111    P
112    P
113    P
Name: phase, Length: 114, dtype: object

In [68]:
s_picks =  df_FS09B_20121001.loc[df_FS09B_20121001['trace_s_arrival'].notna(), 'trace_s_arrival']
s_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_s_arrival'].notna(), 'phase'] = "S"
s_stations = df_FS09B_20121001.loc[df_FS09B_20121001['trace_s_arrival'].notna(), 'station_code']
s_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_s_arrival'].notna(), 'phase']

In [69]:
s_phase = df_FS09B_20121001.loc[df_FS09B_20121001['trace_s_arrival'].notna(), 'phase']

In [70]:
s_phase

114    S
115    S
116    S
117    S
118    S
      ..
203    S
204    S
205    S
206    S
207    S
Name: phase, Length: 94, dtype: object

In [72]:
time = pd.concat(objs = [p_picks,s_picks] , axis=0)
phase = pd.concat(objs = [p_phase,s_phase] , axis=0)

In [73]:
print(time)
print(phase)

0      2012-10-01T00:04:09.141700Z
1      2012-10-01T00:36:41.601700Z
2      2012-10-01T00:55:43.061700Z
3      2012-10-01T01:16:07.681700Z
4      2012-10-01T01:41:37.561700Z
                  ...
203    2012-10-01T22:53:32.401700Z
204    2012-10-01T23:25:19.181700Z
205    2012-10-01T23:31:08.241700Z
206    2012-10-01T23:49:13.461700Z
207    2012-10-01T23:56:56.121700Z
Length: 208, dtype: object
0      P
1      P
2      P
3      P
4      P
      ..
203    S
204    S
205    S
206    S
207    S
Name: phase, Length: 208, dtype: object

In [75]:
stations = df_FS09B_20121001['station_code']
stations

0      FS09B
1      FS09B
2      FS09B
3      FS09B
4      FS09B
       ...
203    FS09B
204    FS09B
205    FS09B
206    FS09B
207    FS09B
Name: station_code, Length: 208, dtype: object

In [76]:
picks = pd.concat(objs = [stations,phase,time] , axis=1)

In [77]:
picks

    station_code phase                            0
0          FS09B     P  2012-10-01T00:04:09.141700Z
1          FS09B     P  2012-10-01T00:36:41.601700Z
2          FS09B     P  2012-10-01T00:55:43.061700Z
3          FS09B     P  2012-10-01T01:16:07.681700Z
4          FS09B     P  2012-10-01T01:41:37.561700Z
..           ...   ...                          ...
203        FS09B     S  2012-10-01T22:53:32.401700Z
204        FS09B     S  2012-10-01T23:25:19.181700Z
205        FS09B     S  2012-10-01T23:31:08.241700Z
206        FS09B     S  2012-10-01T23:49:13.461700Z
207        FS09B     S  2012-10-01T23:56:56.121700Z

[208 rows x 3 columns]

### 1.2 Concatenate data frames from several stations and format

In [125]:
df_FS09B_20121001 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/FS09B_20121001.csv')
df_FS13B_20121006 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/FS13B_20121006.csv')
df_G10B_20121001 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/G10B_20121001.csv')
df_G19B_20121005 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/G19B_20121005.csv')
df_G25B_20121014 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/G25B_20121014.csv')
df_G27B_20121001 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/G27B_20121001.csv')
df_J09B_20121001 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/J09B_20121001.csv')
df_M12B_20121001 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/M12B_20121001.csv')
df_M14B_20121001 = pd.read_csv('~/elep-test/surface_events/src/catalogs_elep_filtered_stations_20121001_to_20121031/M14B_20121001.csv')

In [126]:
df = pd.concat(objs = [df_FS09B_20121001,df_FS13B_20121006,df_G10B_20121001,df_G19B_20121005,df_G25B_20121014,df_G27B_20121001,df_J09B_20121001,df_M12B_20121001,df_M14B_20121001] , axis=0)
df = df.reset_index()
df

,index,Unnamed: 0,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,...,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival
0,0,0,,,7D,,FS09B,NaN,40.438702,-124.808502,...,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:04:09.141700Z
1,1,1,,,7D,,FS09B,NaN,40.438702,-124.808502,...,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:36:41.601700Z
2,2,2,,,7D,,FS09B,NaN,40.438702,-124.808502,...,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T00:55:43.061700Z
3,3,3,,,7D,,FS09B,NaN,40.438702,-124.808502,...,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T01:16:07.681700Z
4,4,4,,,7D,,FS09B,NaN,40.438702,-124.808502,...,,50.0,2012-10-01T00:00:00.001700Z,,,,,,NaN,2012-10-01T01:41:37.561700Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2444,254,254,,,7D,,M14B,NaN,40.985001,-124.589699,...,,50.0,2012-10-01T00:00:00.019925Z,,,,,,2012-10-01T19:43:53.779925Z,NaN
2445,255,255,,,7D,,M14B,NaN,40.985001,-124.589699,...,,50.0,2012-10-01T00:00:00.019925Z,,,,,,2012-10-01T21:19:41.539925Z,NaN
2446,256,256,,,7D,,M14B,NaN,40.985001,-124.589699,...,,50.0,2012-10-01T00:00:00.019925Z,,,,,,2012-10-01T21:38:06.599925Z,NaN
2447,257,257,,,7D,,M14B,NaN,40.985001,-124.589699,...,,50.0,2012-10-01T00:00:00.019925Z,,,,,,2012-10-01T23:08:32.799925Z,NaN
2448,258,258,,,7D,,M14B,NaN,40.985001,-124.589699,...,,50.0,2012-10-01T00:00:00.019925Z,,,,,,2012-10-01T23:34:35.179925Z,NaN

In [127]:
len(df)

2449

In [128]:
p_picks = df.loc[df['trace_p_arrival'].notna(), 'trace_p_arrival']
p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase'] = "P"
p_stations = df.loc[df['trace_p_arrival'].notna(), 'station_code']
p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase']

In [129]:
p_picks

0       2012-10-01T00:04:09.141700Z
1       2012-10-01T00:36:41.601700Z
2       2012-10-01T00:55:43.061700Z
3       2012-10-01T01:16:07.681700Z
4       2012-10-01T01:41:37.561700Z
                   ...
2385    2012-10-01T23:08:32.619925Z
2386    2012-10-01T23:34:34.899925Z
2387    2012-10-01T23:49:53.619925Z
2388    2012-10-01T23:50:36.679925Z
2389    2012-10-01T23:52:27.199925Z
Name: trace_p_arrival, Length: 1662, dtype: object

In [130]:
s_picks =  df.loc[df['trace_s_arrival'].notna(), 'trace_s_arrival']
s_phase = df.loc[df['trace_s_arrival'].notna(), 'phase'] = "S"
s_stations = df.loc[df['trace_s_arrival'].notna(), 'station_code']
s_phase = df.loc[df['trace_s_arrival'].notna(), 'phase']

In [131]:
s_phase

114     S
115     S
116     S
117     S
118     S
       ..
2444    S
2445    S
2446    S
2447    S
2448    S
Name: phase, Length: 787, dtype: object

In [132]:
print(len(p_phase))

1662

In [133]:
print(len(s_phase))

787

In [153]:
time = pd.Series(pd.concat(objs = [p_picks,s_picks] , axis=0), name='time')
phase = pd.Series(pd.concat(objs = [p_phase,s_phase] , axis=0),name='phase')

In [154]:
time

0       2012-10-01T00:04:09.141700Z
1       2012-10-01T00:36:41.601700Z
2       2012-10-01T00:55:43.061700Z
3       2012-10-01T01:16:07.681700Z
4       2012-10-01T01:41:37.561700Z
                   ...
2444    2012-10-01T19:43:53.779925Z
2445    2012-10-01T21:19:41.539925Z
2446    2012-10-01T21:38:06.599925Z
2447    2012-10-01T23:08:32.799925Z
2448    2012-10-01T23:34:35.179925Z
Name: time, Length: 2449, dtype: object

In [148]:
type(time)

pandas.core.series.Series

In [157]:
stations = pd.Series(df['station_code'],name='station')

In [158]:
picks = pd.concat(objs = [stations,phase,time] , axis=1)
picks

     station phase                         time
0      FS09B     P  2012-10-01T00:04:09.141700Z
1      FS09B     P  2012-10-01T00:36:41.601700Z
2      FS09B     P  2012-10-01T00:55:43.061700Z
3      FS09B     P  2012-10-01T01:16:07.681700Z
4      FS09B     P  2012-10-01T01:41:37.561700Z
...      ...   ...                          ...
2444    M14B     S  2012-10-01T19:43:53.779925Z
2445    M14B     S  2012-10-01T21:19:41.539925Z
2446    M14B     S  2012-10-01T21:38:06.599925Z
2447    M14B     S  2012-10-01T23:08:32.799925Z
2448    M14B     S  2012-10-01T23:34:35.179925Z

[2449 rows x 3 columns]

In [159]:
picks.to_csv("~/elep-test/surface_events/data/phase_association/picks")

## 2. Format data frames for stations

In [197]:
row_FS09B_20121001 = df_FS09B_20121001.iloc[0]
row_FS09B_20121001

Unnamed: 0                                          0
event_id
source_type
station_network_code                               7D
station_channel_code
station_code                                    FS09B
station_location_code                             NaN
station_latitude_deg                        40.438702
station_longitude_deg                     -124.808502
station_elevation_m                           -2161.0
trace_name
trace_sampling_rate_hz                           50.0
trace_start_time          2012-10-01T00:00:00.001700Z
trace_S_arrival_sample
trace_P_arrival_sample
trace_S_onset
trace_P_onset
trace_snr_db
trace_s_arrival                                   NaN
trace_p_arrival           2012-10-01T00:04:09.141700Z
Name: 0, dtype: object

In [198]:
_row_FS09B_20121001 = row_FS09B_20121001.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]

In [199]:
_row_FS09B_20121001

station_code                  FS09B
station_longitude_deg   -124.808502
station_latitude_deg      40.438702
station_elevation_m         -2161.0
Name: 0, dtype: object

In [200]:
row_FS09B_20121001 = df_FS09B_20121001.iloc[0]
row_FS13B_20121006 =df_FS13B_20121006.iloc[0]
row_G10B_20121001 =df_G10B_20121001.iloc[0]
row_G19B_20121005 =df_G19B_20121005.iloc[0]
row_G25B_20121014 =df_G25B_20121014.iloc[0]
row_G27B_20121001 =df_G27B_20121001.iloc[0]
row_J09B_20121001 =df_J09B_20121001.iloc[0]
row_M12B_20121001 =df_M12B_20121001.iloc[0]
row_M14B_20121001 =df_M14B_20121001.iloc[0]

In [201]:
_row_FS09B_20121001 = row_FS09B_20121001.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_FS13B_20121006  = row_FS13B_20121006 .loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_G10B_20121001 = row_G10B_20121001.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_G19B_20121005 = row_G19B_20121005.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_G25B_20121014 = row_G25B_20121014.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_G27B_20121001 = row_G27B_20121001.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_J09B_20121001 = row_J09B_20121001.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_M12B_20121001 = row_M12B_20121001.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]
_row_M14B_20121001 = row_M14B_20121001.loc[['station_code','station_longitude_deg','station_latitude_deg','station_elevation_m']]

In [202]:
b = pd.DataFrame(np.array(_row_FS13B_20121006).reshape(1,len(_row_FS13B_20121006)))

In [203]:
_row_FS09B_20121001  = pd.DataFrame(np.array(_row_FS09B_20121001).reshape(1,len(_row_FS09B_20121001)))
_row_FS13B_20121006  = pd.DataFrame(np.array(_row_FS13B_20121006).reshape(1,len(_row_FS13B_20121006)))
_row_G10B_20121001 = pd.DataFrame(np.array(_row_G10B_20121001).reshape(1,len(_row_G10B_20121001)))
_row_G19B_20121005 = pd.DataFrame(np.array(_row_G19B_20121005).reshape(1,len(_row_G19B_20121005)))
_row_G25B_20121014 = pd.DataFrame(np.array(_row_G25B_20121014).reshape(1,len(_row_G25B_20121014)))
_row_G27B_20121001 = pd.DataFrame(np.array(_row_G27B_20121001).reshape(1,len(_row_G27B_20121001)))
_row_J09B_20121001 = pd.DataFrame(np.array(_row_J09B_20121001).reshape(1,len(_row_J09B_20121001)))
_row_M12B_20121001 = pd.DataFrame(np.array(_row_M12B_20121001).reshape(1,len(_row_M12B_20121001)))
_row_M14B_20121001 = pd.DataFrame(np.array(_row_M14B_20121001).reshape(1,len(_row_M14B_20121001)))

In [190]:
type(_row_G10B_20121001)

pandas.core.series.Series

In [214]:
stations = pd.concat(objs = [_row_FS09B_20121001,_row_FS13B_20121006,_row_G10B_20121001,_row_G19B_20121005,_row_G25B_20121014,_row_G27B_20121001,_row_J09B_20121001,_row_M12B_20121001,_row_M14B_20121001] , axis=0, ignore_index=True)
stations

       0           1          2       3
0  FS09B -124.808502  40.438702 -2161.0
1  FS13B -124.806503  40.493099 -2332.0
2   G10B -125.553299  40.677898 -2936.0
3   G19B -125.773598    41.3074 -3071.0
4   G25B -124.586098  41.919899  -430.0
5   G27B -126.016701  41.916599 -3480.0
6   J09B -124.726997  43.151001  -252.0
7   M12B -124.946098  42.183998 -1045.0
8   M14B -124.589699  40.985001  -638.0

In [215]:
_stations = stations.rename(columns={0: 'id',1: 'longitude',2: 'latitude',3: 'elevation'})
_stations

      id   longitude   latitude elevation
0  FS09B -124.808502  40.438702   -2161.0
1  FS13B -124.806503  40.493099   -2332.0
2   G10B -125.553299  40.677898   -2936.0
3   G19B -125.773598    41.3074   -3071.0
4   G25B -124.586098  41.919899    -430.0
5   G27B -126.016701  41.916599   -3480.0
6   J09B -124.726997  43.151001    -252.0
7   M12B -124.946098  42.183998   -1045.0
8   M14B -124.589699  40.985001    -638.0

In [216]:
_stations.to_csv("~/elep-test/surface_events/data/phase_association/stations")