## Notebook for formatting data frames for phase association
Source:
1. https://chatgpt.com/

In [2]:
import pandas as pd
import numpy as np
import datetime
import glob
import os

### 1.1 Load the station data frame

In [5]:
stas_2011_nwa_shore = pd.read_csv('../data/datasets_2011/stas_2011_nwa_shore.csv',index_col=0)
stas_2012_nwa_shore = pd.read_csv('../data/datasets_2012/stas_2012_nwa_shore.csv',index_col=0)
stas_2013_nwa_shore = pd.read_csv('../data/datasets_2013/stas_2013_nwa_shore.csv',index_col=0)
stas_2014_nwa_shore = pd.read_csv('../data/datasets_2014/stas_2014_nwa_shore.csv',index_col=0)
stas_2015_nwa_shore = pd.read_csv('../data/datasets_2015/stas_2015_nwa_shore.csv',index_col=0)
print(stas_2011_nwa_shore)
print(stas_2012_nwa_shore)
print(stas_2013_nwa_shore)
print(stas_2014_nwa_shore)
print(stas_2015_nwa_shore)

     id   longitude   latitude  elevation
0  FORK -124.566200  47.947500       44.9
1  J73A -126.192497  48.767700     -143.3
2  J65A -125.139603  47.891300     -165.2
3   OFR -124.396042  47.933128      152.0
4   OZB -125.497800  48.961200      626.0
5  BMSB -125.135500  48.835600       10.0
6  M01A -126.722099  49.150398     -132.9
     id   longitude   latitude  elevation
0   OZB -125.497800  48.961200      626.0
1   OFR -124.396042  47.933128      152.0
2  J73A -126.192497  48.767700     -143.3
3  FORK -124.566200  47.947500       44.9
4  J65A -125.139603  47.891300     -165.2
5  M01A -126.722099  49.150398     -132.9
     id   longitude   latitude  elevation
0  FORK -124.566200  47.947500       44.9
1  NTKA -126.616600  49.592400       12.0
2  J73C -126.192596  48.767899     -133.0
3  M01C -126.722198  49.150398     -138.0
4   OZB -125.497800  48.961200      626.0
5  J65C -125.139801  47.891300     -169.0
6  BFSB -125.136000  48.833600       33.0
     id   longitude   latitude  elevation
0  NTKA -126.616600  49.592400       12.0
1  FORK -124.566200  47.947500       44.9
2  J65C -125.139801  47.891300     -169.0
3  J73C -126.192596  48.767899     -133.0
4   OZB -125.497800  48.961200      626.0
5  BFSB -125.136000  48.833600       33.0
6  M01C -126.722198  49.150398     -138.0
     id  longitude  latitude  elevation
0  TOFB  -125.9078   49.1543       13.0
1  BFSB  -125.1360   48.8336       33.0
2  FORK  -124.5662   47.9475       44.9
3   OZB  -125.4978   48.9612      626.0

In [6]:
stas_nwa_shore = pd.concat([stas_2011_nwa_shore,stas_2012_nwa_shore,stas_2013_nwa_shore,
                           stas_2014_nwa_shore,stas_2015_nwa_shore],ignore_index=True)
stas_nwa_shore = stas_nwa_shore.drop_duplicates(subset='id')
stas_nwa_shore

      id   longitude   latitude  elevation
0   FORK -124.566200  47.947500       44.9
1   J73A -126.192497  48.767700     -143.3
2   J65A -125.139603  47.891300     -165.2
3    OFR -124.396042  47.933128      152.0
4    OZB -125.497800  48.961200      626.0
5   BMSB -125.135500  48.835600       10.0
6   M01A -126.722099  49.150398     -132.9
14  NTKA -126.616600  49.592400       12.0
15  J73C -126.192596  48.767899     -133.0
16  M01C -126.722198  49.150398     -138.0
18  J65C -125.139801  47.891300     -169.0
19  BFSB -125.136000  48.833600       33.0
27  TOFB -125.907800  49.154300       13.0

### 1.2 Concatenate data frames from several stations and format

In [7]:
# Gather all the files that we produced in 1_parallel_detect_picks_elep_all_sta
csv_list = glob.glob('../data/picks_201*/*.csv')

In [8]:
# Print csv_list
csv_list

['../data/picks_20120101/BABR_20120101.csv',
 '../data/picks_20120101/LEBA_20120101.csv',
 '../data/picks_20120101/DBO_20120101.csv',
 '../data/picks_20120101/L02D_20120101.csv',
 '../data/picks_20120101/KSXB_20120101.csv',
 '../data/picks_20120101/KCT_20120101.csv',
 '../data/picks_20120101/FN07A_20120101.csv',
 '../data/picks_20120101/NLLB_20120101.csv',
 '../data/picks_20120101/FN08A_20120101.csv',
 '../data/picks_20120101/FN18A_20120101.csv',
 '../data/picks_20120101/G03D_20120101.csv',
 '../data/picks_20120101/SHB_20120101.csv',
 '../data/picks_20120101/J34A_20120101.csv',
 '../data/picks_20120101/J73A_20120101.csv',
 '../data/picks_20120101/FN01A_20120101.csv',
 '../data/picks_20120101/M07A_20120101.csv',
 '../data/picks_20120101/I02D_20120101.csv',
 '../data/picks_20120101/J57A_20120101.csv',
 '../data/picks_20120101/I03D_20120101.csv',
 '../data/picks_20120101/LRIV_20120101.csv',
 '../data/picks_20120101/J33A_20120101.csv',
 '../data/picks_20120101/M06A_20120101.csv',
 '../data/picks_20120101/PGC_20120101.csv',
 '../data/picks_20120101/RADR_20120101.csv',
 '../data/picks_20120101/KRMB_20120101.csv',
 '../data/picks_20120101/M08A_20120101.csv',
 '../data/picks_20120101/J25A_20120101.csv',
 '../data/picks_20120101/KHMB_20120101.csv',
 '../data/picks_20120101/LZB_20120101.csv',
 '../data/picks_20120101/KHBB_20120101.csv',
 '../data/picks_20120101/MEGW_20120101.csv',
 '../data/picks_20120101/TAKO_20120101.csv',
 '../data/picks_20120101/FN12A_20120101.csv',
 '../data/picks_20120101/J58A_20120101.csv',
 '../data/picks_20120101/YOUB_20120101.csv',
 '../data/picks_20120101/JEDS_20120101.csv',
 '../data/picks_20120101/J26A_20120101.csv',
 '../data/picks_20120101/M03A_20120101.csv',
 '../data/picks_20120101/J41A_20120101.csv',
 '../data/picks_20120101/OFR_20120101.csv',
 '../data/picks_20120101/M01A_20120101.csv',
 '../data/picks_20120101/KMPB_20120101.csv',
 '../data/picks_20120101/J59A_20120101.csv',
 '../data/picks_20120101/J65A_20120101.csv',
 '../data/picks_20120101/K02D_20120101.csv',
 '../data/picks_20120101/J51A_20120101.csv',
 '../data/picks_20120101/KMR_20120101.csv',
 '../data/picks_20120101/J01D_20120101.csv',
 '../data/picks_20120101/HEBO_20120101.csv',
 '../data/picks_20120101/J50A_20120101.csv',
 '../data/picks_20120101/VGZ_20120101.csv',
 '../data/picks_20120101/KEB_20120101.csv',
 '../data/picks_20120101/G03A_20120101.csv',
 '../data/picks_20120101/M02A_20120101.csv',
 '../data/picks_20120101/KBO_20120101.csv',
 '../data/picks_20120101/OZB_20120101.csv',
 '../data/picks_20120101/J49A_20120101.csv',
 '../data/picks_20120101/J42A_20120101.csv',
 '../data/picks_20120101/FISH_20120101.csv',
 '../data/picks_20120101/FN14A_20120101.csv',
 '../data/picks_20120101/FN16A_20120101.csv',
 '../data/picks_20120101/JCC_20120101.csv',
 '../data/picks_20120101/F04D_20120101.csv',
 '../data/picks_20120101/J35A_20120101.csv',
 '../data/picks_20120101/KRP_20120101.csv',
 '../data/picks_20120101/D03D_20120101.csv',
 '../data/picks_20120101/J43A_20120101.csv',
 '../data/picks_20120101/FN05A_20120101.csv',
 '../data/picks_2012/PGC_20120125.csv',
 '../data/picks_2012/KSXB_20120105.csv',
 '../data/picks_2012/JCC_20120213.csv',
 '../data/picks_2012/VGZ_20120203.csv',
 '../data/picks_2012/J01D_20120701.csv',
 '../data/picks_2012/LEBA_20120209.csv',
 '../data/picks_2012/FS02B_20121216.csv',
 '../data/picks_2012/J01D_20120216.csv',
 '../data/picks_2012/LEBA_20120906.csv',
 '../data/picks_2012/KHBB_20120312.csv',
 '../data/picks_2012/G25B_20121220.csv',
 '../data/picks_2012/MGB_20120216.csv',
 '../data/picks_2012/J50A_20120510.csv',
 '../data/picks_2012/FN14A_20120614.csv',
 '../data/picks_2012/PFB_20121101.csv',
 '../data/picks_2012/KCT_20120303.csv',
 '../data/picks_2012/KBO_20120301.csv',
 '../data/picks_2012/OZB_20120203.csv',
 '../data/picks_2012/J01D_20120530.csv',
 '../data/picks_2012/J51A_20120227.csv',
 '../data/picks_2012/SHB_20120515.csv',
 '../data/picks_2012/DBO_20121101.csv',
 '../data/picks_2012/FS18B_20121105.csv',
 '../data/picks_2012/LZB_20121122.csv',
 '../data/picks_2012/L02E_20121103.csv',
 '../data/picks_2012/FS06B_20121009.csv',
 '../data/picks_2012/J51A_20120331.csv',
 '../data/picks_2012/J25A_20120409.csv',
 '../data/picks_2012/KEB_20120104.csv',
 '../data/picks_2012/FN01A_20120608.csv',
 '../data/picks_2012/LZB_20120604.csv',
 '../data/picks_2012/KHBB_20120402.csv',
 '../data/picks_2012/FS08B_20121002.csv',
 '../data/picks_2012/G11B_20121031.csv',
 '../data/picks_2012/FN16A_20120216.csv',
 '../data/picks_2012/G33B_20121201.csv',
 '../data/picks_2012/M11B_20120918.csv',
 '../data/picks_2012/M03A_20120613.csv',
 '../data/picks_2012/FN07A_20120421.csv',
 '../data/picks_2012/FS02B_20121224.csv',
 '../data/picks_2012/SHB_20120917.csv',
 '../data/picks_2012/FS09B_20121111.csv',
 '../data/picks_2012/FN12A_20120228.csv',
 '../data/picks_2012/D03D_20120821.csv',
 '../data/picks_2012/HEBO_20120807.csv',
 '../data/picks_2012/D03D_20120210.csv',
 '../data/picks_2012/DBO_20120510.csv',
 '../data/picks_2012/FN07A_20120317.csv',
 '../data/picks_2012/FS02B_20121110.csv',
 '../data/picks_2012/KRP_20120211.csv',
 '../data/picks_2012/KHBB_20120714.csv',
 '../data/picks_2012/J09B_20120907.csv',
 '../data/picks_2012/F04D_20120923.csv',
 '../data/picks_2012/KSXB_20120721.csv',
 '../data/picks_2012/VGZ_20120808.csv',
 '../data/picks_2012/J59A_20120426.csv',
 '../data/picks_2012/I02D_20120709.csv',
 '../data/picks_2012/TAKO_20120419.csv',
 '../data/picks_2012/J01D_20120927.csv',
 '../data/picks_2012/PGC_20120803.csv',
 '../data/picks_2012/J42A_20120315.csv',
 '../data/picks_2012/MEGW_20120108.csv',
 '../data/picks_2012/FS13B_20121105.csv',
 '../data/picks_2012/G34B_20121201.csv',
 '../data/picks_2012/FS01B_20121205.csv',
 '../data/picks_2012/KRMB_20120119.csv',
 '../data/picks_2012/NLLB_20121008.csv',
 '../data/picks_2012/KSXB_20120309.csv',
 '../data/picks_2012/TAKO_20120818.csv',
 '../data/picks_2012/KMPB_20120716.csv',
 '../data/picks_2012/DBO_20120928.csv',
 '../data/picks_2012/PGC_20121216.csv',
 '../data/picks_2012/FS15B_20121227.csv',
 '../data/picks_2012/KRP_20120828.csv',
 '../data/picks_2012/F04D_20120115.csv',
 '../data/picks_2012/FN12A_20120209.csv',
 '../data/picks_2012/HEBO_20120207.csv',
 '../data/picks_2012/J57A_20120130.csv',
 '../data/picks_2012/KHMB_20121122.csv',
 '../data/picks_2012/F04D_20120206.csv',
 '../data/picks_2012/FS19B_20121125.csv',
 '../data/picks_2012/J41A_20120502.csv',
 '../data/picks_2012/LEBA_20120818.csv',
 '../data/picks_2012/KRP_20120319.csv',
 '../data/picks_2012/L02E_20121107.csv',
 '../data/picks_2012/KBO_20120328.csv',
 '../data/picks_2012/KMPB_20120605.csv',
 '../data/picks_2012/KEB_20120215.csv',
 '../data/picks_2012/G19B_20121009.csv',
 '../data/picks_2012/G33B_20121104.csv',
 '../data/picks_2012/FS09B_20121005.csv',
 '../data/picks_2012/JCC_20120131.csv',
 '../data/picks_2012/RADR_20121021.csv',
 '../data/picks_2012/LEBA_20120707.csv',
 '../data/picks_2012/J43A_20120514.csv',
 '../data/picks_2012/FN12A_20120531.csv',
 '../data/picks_2012/FS06B_20121011.csv',
 '../data/picks_2012/J49A_20120410.csv',
 '../data/picks_2012/KEB_20120328.csv',
 '../data/picks_2012/G26B_20121118.csv',
 '../data/picks_2012/J51A_20120313.csv',
 '../data/picks_2012/J25B_20121002.csv',
 '../data/picks_2012/OFR_20120927.csv',
 '../data/picks_2012/DBO_20120122.csv',
 '../data/picks_2012/FS20B_20121024.csv',
 '../data/picks_2012/J42A_20120519.csv',
 '../data/picks_2012/G03D_20120713.csv',
 '../data/picks_2012/DBO_20120606.csv',
 '../data/picks_2012/KCT_20120330.csv',
 '../data/picks_2012/LZB_20120826.csv',
 '../data/picks_2012/KMPB_20120626.csv',
 '../data/picks_2012/G03D_20120721.csv',
 '../data/picks_2012/J73A_20120602.csv',
 '../data/picks_2012/TAKO_20120621.csv',
 '../data/picks_2012/G28B_20121201.csv',
 '../data/picks_2012/LRIV_20121224.csv',
 '../data/picks_2012/FORK_20120124.csv',
 '../data/picks_2012/FS15B_20121015.csv',
 '../data/picks_2012/K02D_20120805.csv',
 '../data/picks_2012/FN07A_20120305.csv',
 '../data/picks_2012/FS02B_20121115.csv',
 '../data/picks_2012/VGZ_20120202.csv',
 '../data/picks_2012/WISH_20120510.csv',
 '../data/picks_2012/SHB_20120628.csv',
 '../data/picks_2012/J17B_20120919.csv',
 '../data/picks_2012/OZB_20120114.csv',
 '../data/picks_2012/G02B_20120910.csv',
 '../data/picks_2012/FORK_20121202.csv',
 '../data/picks_2012/G11B_20120930.csv',
 '../data/picks_2012/FS19B_20121110.csv',
 '../data/picks_2012/FN12A_20120214.csv',
 '../data/picks_2012/M03A_20120326.csv',
 '../data/picks_2012/WISH_20120406.csv',
 '../data/picks_2012/KMPB_20120312.csv',
 '../data/picks_2012/FN07A_20120108.csv',
 '../data/picks_2012/G10B_20121227.csv',
 '../data/picks_2012/BB070_20121010.csv',
 '../data/picks_2012/J50A_20120404.csv',
 '../data/picks_2012/PGC_20120921.csv',
 '../data/picks_2012/RADR_20120708.csv',
 '../data/picks_2012/FISH_20120821.csv',
 '../data/picks_2012/M08A_20120218.csv',
 '../data/picks_2012/G10B_20121031.csv',
 '../data/picks_2012/KEB_20121018.csv',
 '../data/picks_2012/M08A_20120420.csv',
 '../data/picks_2012/J33B_20121218.csv',
 '../data/picks_2012/KMR_20121214.csv',
 '../data/picks_2012/J34A_20120503.csv',
 '../data/picks_2012/FS02B_20121130.csv',
 '../data/picks_2012/FN16A_20120611.csv',
 '../data/picks_2012/FN18A_20120516.csv',
 '../data/picks_2012/L02D_20120220.csv',
 '../data/picks_2012/KMPB_20120416.csv',
 '../data/picks_2012/VGZ_20120621.csv',
 '../data/picks_2012/JCC_20121130.csv',
 '../data/picks_2012/J17B_20120729.csv',
 '../data/picks_2012/M06A_20120427.csv',
 '../data/picks_2012/G26B_20121102.csv',
 '../data/picks_2012/FORK_20121125.csv',
 '../data/picks_2012/RADR_20120817.csv',
 '../data/picks_2012/FS07B_20121003.csv',
 '../data/picks_2012/G03D_20120308.csv',
 '../data/picks_2012/J59A_20120320.csv',
 '../data/picks_2012/BABR_20120629.csv',
 '../data/picks_2012/FN12A_20120520.csv',
 '../data/picks_2012/FORK_20121122.csv',
 '../data/picks_2012/J41A_20120120.csv',
 '../data/picks_2012/J34A_20120712.csv',
 '../data/picks_2012/KRP_20120401.csv',
 '../data/picks_2012/J01D_20120828.csv',
 '../data/picks_2012/LEBA_20120407.csv',
 '../data/picks_2012/FN07A_20120415.csv',
 '../data/picks_2012/FS18B_20121028.csv',
 '../data/picks_2012/FS10B_20121220.csv',
 '../data/picks_2012/SHB_20121219.csv',
 '../data/picks_2012/J59A_20120229.csv',
 '../data/picks_2012/BTB_20120922.csv',
 '../data/picks_2012/J18B_20121225.csv',
 '../data/picks_2012/KRP_20120425.csv',
 '../data/picks_2012/NLLB_20120208.csv',
 '../data/picks_2012/J01D_20120727.csv',
 '../data/picks_2012/M14B_20121230.csv',
 '../data/picks_2012/I02D_20120413.csv',
 '../data/picks_2012/J19B_20121208.csv',
 '../data/picks_2012/KMPB_20120612.csv',
 '../data/picks_2012/J42A_20120702.csv',
 '../data/picks_2012/FN08A_20120525.csv',
 '../data/picks_2012/MEGW_20120204.csv',
 '../data/picks_2012/G02B_20121231.csv',
 '../data/picks_2012/VGZ_20120809.csv',
 '../data/picks_2012/FN01A_20120317.csv',
 '../data/picks_2012/KMR_20120921.csv',
 '../data/picks_2012/M03A_20120520.csv',
 '../data/picks_2012/BABR_20120626.csv',
 '../data/picks_2012/G09B_20121229.csv',
 '../data/picks_2012/WISH_20120908.csv',
 '../data/picks_2012/J17B_20120801.csv',
 '../data/picks_2012/M06A_20120130.csv',
 '../data/picks_2012/M06A_20120128.csv',
 '../data/picks_2012/SNB_20120609.csv',
 '../data/picks_2012/G03D_20120427.csv',
 '../data/picks_2012/KHMB_20120601.csv',
 '../data/picks_2012/J35A_20120408.csv',
 '../data/picks_2012/G36B2_20121210.csv',
 '../data/picks_2012/D03D_20120607.csv',
 '../data/picks_2012/NLLB_20121121.csv',
 '../data/picks_2012/TAKO_20120118.csv',
 '../data/picks_2012/FN16A_20120227.csv',
 '../data/picks_2012/KSXB_20120125.csv',
 '../data/picks_2012/M18B_20120820.csv',
 '../data/picks_2012/J57A_20120428.csv',
 '../data/picks_2012/BTB_20120914.csv',
 '../data/picks_2012/BB030_20120924.csv',
 '../data/picks_2012/BABR_20121110.csv',
 '../data/picks_2012/M11B_20121120.csv',
 '../data/picks_2012/G19B_20121224.csv',
 '../data/picks_2012/K02D_20120726.csv',
 '../data/picks_2012/J65A_20120102.csv',
 '../data/picks_2012/J11B_20121202.csv',
 '../data/picks_2012/J57A_20120222.csv',
 '../data/picks_2012/J57A_20120710.csv',
 '../data/picks_2012/G03A_20120331.csv',
 '../data/picks_2012/FS15B_20121130.csv',
 '../data/picks_2012/J58A_20120531.csv',
 '../data/picks_2012/J59A_20120531.csv',
 '../data/picks_2012/M09B_20121213.csv',
 '../data/picks_2012/I02D_20120918.csv',
 '../data/picks_2012/PFB_20121219.csv',
 '../data/picks_2012/G03D_20120404.csv',
 '../data/picks_2012/J19B_20120908.csv',
 '../data/picks_2012/MGB_20120809.csv',
 '../data/picks_2012/BB070_20121214.csv',
 '../data/picks_2012/FN16A_20120713.csv',
 '../data/picks_2012/FN07A_20120308.csv',
 '../data/picks_2012/BB070_20121216.csv',
 '../data/picks_2012/M06A_20120612.csv',
 '../data/picks_2012/J50A_20120413.csv',
 '../data/picks_2012/FISH_20120518.csv',
 '../data/picks_2012/LZB_20120910.csv',
 '../data/picks_2012/I03D_20121014.csv',
 '../data/picks_2012/J01D_20120208.csv',
 '../data/picks_2012/J58A_20120201.csv',
 '../data/picks_2012/M13B_20121014.csv',
 '../data/picks_2012/G36B2_20120915.csv',
 '../data/picks_2012/FS17B_20121124.csv',
 '../data/picks_2012/BB030_20121121.csv',
 '../data/picks_2012/FISH_20121201.csv',
 '../data/picks_2012/YOUB_20120912.csv',
 '../data/picks_2012/KBO_20120325.csv',
 '../data/picks_2012/J25A_20120316.csv',
 '../data/picks_2012/RADR_20120302.csv',
 '../data/picks_2012/BB090_20121120.csv',
 '../data/picks_2012/D03D_20120707.csv',
 '../data/picks_2012/M13B_20120925.csv',
 '../data/picks_2012/FN08A_20120622.csv',
 '../data/picks_2012/I02D_20120426.csv',
 '../data/picks_2012/KHBB_20120131.csv',
 '../data/picks_2012/I03D_20121120.csv',
 '../data/picks_2012/YOUB_20121127.csv',
 '../data/picks_2012/SHB_20121229.csv',
 '../data/picks_2012/KHMB_20121210.csv',
 '../data/picks_2012/KHMB_20120323.csv',
 '../data/picks_2012/J25A_20120705.csv',
 '../data/picks_2012/KRP_20121013.csv',
 '../data/picks_2012/BABR_20120104.csv',
 '../data/picks_2012/SHB_20120508.csv',
 '../data/picks_2012/G02B_20121221.csv',
 '../data/picks_2012/G18B_20121123.csv',
 '../data/picks_2012/NLLB_20120618.csv',
 '../data/picks_2012/BTB_20120904.csv',
 '../data/picks_2012/WISH_20121214.csv',
 '../data/picks_2012/FN01A_20120628.csv',
 '../data/picks_2012/NCBC_20120731.csv',
 '../data/picks_2012/KMPB_20120814.csv',
 '../data/picks_2012/L02D_20120404.csv',
 '../data/picks_2012/BABR_20120401.csv',
 '../data/picks_2012/FS12B_20121201.csv',
 '../data/picks_2012/J58A_20120624.csv',
 '../data/picks_2012/G18B_20121126.csv',
 '../data/picks_2012/KHMB_20121220.csv',
 '../data/picks_2012/TAKO_20120113.csv',
 '../data/picks_2012/M06A_20120403.csv',
 '../data/picks_2012/RADR_20120115.csv',
 '../data/picks_2012/J65A_20120207.csv',
 '../data/picks_2012/F04D_20120805.csv',
 '../data/picks_2012/G03B_20120924.csv',
 '../data/picks_2012/KMR_20120622.csv',
 '../data/picks_2012/BABR_20120520.csv',
 '../data/picks_2012/M14B_20121113.csv',
 '../data/picks_2012/G25B_20121109.csv',
 '../data/picks_2012/G28B_20121002.csv',
 '../data/picks_2012/BABR_20121201.csv',
 '../data/picks_2012/WISH_20120520.csv',
 '../data/picks_2012/J49A_20120317.csv',
 '../data/picks_2012/FS08B_20121129.csv',
 '../data/picks_2012/PGC_20121123.csv',
 '../data/picks_2012/FN18A_20120527.csv',
 '../data/picks_2012/KHMB_20120925.csv',
 '../data/picks_2012/M02A_20120525.csv',
 '../data/picks_2012/G17B_20121228.csv',
 '../data/picks_2012/J73A_20120630.csv',
 '../data/picks_2012/F04D_20121218.csv',
 '../data/picks_2012/J18B_20121118.csv',
 '../data/picks_2012/FS01B_20121130.csv',
 '../data/picks_2012/J59A_20120105.csv',
 '../data/picks_2012/KMPB_20120512.csv',
 '../data/picks_2012/I02D_20121122.csv',
 '../data/picks_2012/G04B_20121207.csv',
 '../data/picks_2012/DBO_20120202.csv',
 '../data/picks_2012/FS06B_20121231.csv',
 '../data/picks_2012/TAKO_20120816.csv',
 '../data/picks_2012/G17B_20121215.csv',
 '../data/picks_2012/LEBA_20120606.csv',
 '../data/picks_2012/KEB_20120611.csv',
 '../data/picks_2012/J33B_20120902.csv',
 '../data/picks_2012/FS02B_20121206.csv',
 '../data/picks_2012/M11B_20121112.csv',
 '../data/picks_2012/SNB_20120731.csv',
 '../data/picks_2012/KMR_20121015.csv',
 '../data/picks_2012/J01E_20121209.csv',
 '../data/picks_2012/JEDS_20120220.csv',
 '../data/picks_2012/FS03B_20121028.csv',
 '../data/picks_2012/M13B_20121107.csv',
 '../data/picks_2012/M06A_20120320.csv',
 '../data/picks_2012/OZB_20120220.csv',
 '../data/picks_2012/FS07B_20121112.csv',
 '../data/picks_2012/M14B_20121214.csv',
 '../data/picks_2012/YOUB_20121203.csv',
 '../data/picks_2012/FS12B_20121022.csv',
 '../data/picks_2012/KHBB_20120330.csv',
 '../data/picks_2012/G28B_20121103.csv',
 '../data/picks_2012/VGZ_20121222.csv',
 '../data/picks_2012/FISH_20120401.csv',
 '../data/picks_2012/OFR_20120923.csv',
 '../data/picks_2012/G03D_20121007.csv',
 '../data/picks_2012/FS13B_20121003.csv',
 '../data/picks_2012/L02D_20120304.csv',
 '../data/picks_2012/J01D_20120305.csv',
 '../data/picks_2012/NLLB_20120814.csv',
 '../data/picks_2012/FS15B_20121011.csv',
 '../data/picks_2012/FS15B_20121024.csv',
 '../data/picks_2012/FS04B_20121211.csv',
 '../data/picks_2012/G03A_20120403.csv',
 '../data/picks_2012/KMR_20121212.csv',
 '../data/picks_2012/J57A_20120607.csv',
 '../data/picks_2012/M18B_20121224.csv',
 '../data/picks_2012/J26A_20120609.csv',
 '../data/picks_2012/KEB_20120321.csv',
 '../data/picks_2012/J41A_20120318.csv',
 '../data/picks_2012/G34B_20121106.csv',
 '../data/picks_2012/J33B_20121004.csv',
 '../data/picks_2012/LZB_20120628.csv',
 '../data/picks_2012/PGC_20121030.csv',
 '../data/picks_2012/KBO_20120602.csv',
 '../data/picks_2012/G36B2_20121227.csv',
 '../data/picks_2012/F04D_20120609.csv',
 '../data/picks_2012/KEB_20120311.csv',
 '../data/picks_2012/J25B_20121030.csv',
 '../data/picks_2012/G17B_20121005.csv',
 '../data/picks_2012/OFR_20120816.csv',
 '../data/picks_2012/FISH_20120508.csv',
 '../data/picks_2012/OFR_20120710.csv',
 '../data/picks_2012/J09B_20121018.csv',
 '../data/picks_2012/SHB_20120426.csv',
 '../data/picks_2012/KSXB_20120208.csv',
 '../data/picks_2012/J26A_20120216.csv',
 '../data/picks_2012/HEBO_20120506.csv',
 '../data/picks_2012/J27B_20120908.csv',
 '../data/picks_2012/J57A_20120228.csv',
 '../data/picks_2012/NC89_20121231.csv',
 '../data/picks_2012/LEBA_20120715.csv',
 '../data/picks_2012/I02D_20120220.csv',
 '../data/picks_2012/G03A_20120301.csv',
 '../data/picks_2012/J11B_20121106.csv',
 '../data/picks_2012/FS15B_20121224.csv',
 '../data/picks_2012/I02D_20121020.csv',
 '../data/picks_2012/KRMB_20120430.csv',
 '../data/picks_2012/M07A_20120420.csv',
 '../data/picks_2012/JCC_20120307.csv',
 '../data/picks_2012/KBO_20120329.csv',
 '../data/picks_2012/KMR_20120818.csv',
 '../data/picks_2012/M18B_20120723.csv',
 '../data/picks_2012/FISH_20120310.csv',
 '../data/picks_2012/HEBO_20120429.csv',
 '../data/picks_2012/J65A_20120426.csv',
 '../data/picks_2012/HEBO_20120707.csv',
 '../data/picks_2012/OFR_20121226.csv',
 '../data/picks_2012/G03D_20120915.csv',
 '../data/picks_2012/SNB_20120309.csv',
 '../data/picks_2012/J09B_20121223.csv',
 '../data/picks_2012/J57A_20120616.csv',
 '../data/picks_2012/KHBB_20120210.csv',
 '../data/picks_2012/D03D_20120830.csv',
 '../data/picks_2012/G25B_20121104.csv',
 '../data/picks_2012/FN18A_20120216.csv',
 '../data/picks_2012/FISH_20120408.csv',
 '../data/picks_2012/FN18A_20120107.csv',
 '../data/picks_2012/KEB_20121116.csv',
 '../data/picks_2012/FS16B_20121227.csv',
 '../data/picks_2012/PFB_20120308.csv',
 '../data/picks_2012/M06A_20120229.csv',
 '../data/picks_2012/KMR_20120912.csv',
 '../data/picks_2012/I02D_20121105.csv',
 '../data/picks_2012/KHMB_20120311.csv',
 '../data/picks_2012/M06A_20120116.csv',
 '../data/picks_2012/FS04B_20120920.csv',
 '../data/picks_2012/M01A_20120222.csv',
 '../data/picks_2012/M18B_20120924.csv',
 '../data/picks_2012/MEGW_20120320.csv',
 '../data/picks_2012/I02D_20120401.csv',
 '../data/picks_2012/DBO_20121212.csv',
 '../data/picks_2012/KRP_20120909.csv',
 '../data/picks_2012/FN16A_20120131.csv',

In [9]:
len(csv_list)

105109

In [10]:
#  Concatenate all the picks in all the files produced in 1_parallel_detect_picks_elep_all_sta
all_csv =[]


for i in csv_list:
    temp = pd.read_csv(i,index_col=0)
    all_csv.append(temp)
    
df = pd.concat(all_csv, axis=0)

/tmp/ipykernel_1232196/3549658960.py:9: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df = pd.concat(all_csv, axis=0)
/tmp/ipykernel_1232196/3549658960.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(all_csv, axis=0)

In [11]:
# Print df
df[0:10]

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival
0,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T01:34:39.380000Z
1,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T01:49:06.705000Z
2,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T04:39:44.430000Z
3,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T17:47:22.280000Z
4,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T18:54:27.080000Z
5,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,2012-01-01T01:23:07.055000Z,NaN
6,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,2012-01-01T03:25:00.555000Z,NaN
7,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,2012-01-01T05:48:37.030000Z,NaN
8,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,2012-01-01T06:53:37.555000Z,NaN
9,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,2012-01-01T09:21:36.180000Z,NaN

In [12]:
len(df)

18737281

In [13]:
df = df[df['station_code'].isin(list(stas_nwa_shore['id']))]

In [14]:
len(df['station_code'].drop_duplicates())

13

In [15]:
len(df)

699705

In [16]:
# df.to_csv('../data/datasets_all_years/all_picks_all_years_pnsn_jdf_for_picking.csv')

In [17]:
# Remove picks with the following stations due to the noise: 'FN05A', 'YOUB' and 'MGB'
df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB'])]

In [18]:
# # Remove picks with the following stations due to the noise: 'FN05A', 'YOUB' and 'MGB'
# df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB','FN14A','FN07A','J41A','J49A',
# 'J25B','J33B','FN18A','FN08A','M09B','G17B'])]

In [19]:
# # Remove picks with the following stations due to the noise
# df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB',
#                                   'J41A','J33B','M09B','FN01A','FN08A',
#                                   'FN12A','FN18A','J26A','J34A', 'J41A',
#                                   'M02A','FS03B','FS05B','FS08B','G33B',
#                                   'J17B','M10B','M13B','M18B'
#                                  ])]

In [20]:
len(df)

699705

In [21]:
df.to_csv('../data/datasets_nwa_shore/all_picks_all_years_for_assoc_nwa_shore.csv')

### 1.3 Create a CSV file for picks for the association

In [22]:
# Assign P to P phases in the df
p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase'] = "P"

In [23]:
# Filter the df 
p_stas_picks_phase = df.loc[df['trace_p_arrival'].notna(), ['station_code','trace_p_arrival','phase']]
p_stas_picks_phase

   station_code              trace_p_arrival phase
0          J73A  2012-01-01T00:05:02.112800Z     P
1          J73A  2012-01-01T00:06:29.732800Z     P
2          J73A  2012-01-01T00:10:51.532800Z     P
3          J73A  2012-01-01T00:12:19.652800Z     P
4          J73A  2012-01-01T00:15:03.812800Z     P
..          ...                          ...   ...
76          OFR  2011-09-03T21:24:19.537000Z     P
77          OFR  2011-09-03T22:15:52.837000Z     P
78          OFR  2011-09-03T23:07:50.617000Z     P
79          OFR  2011-09-03T23:18:13.857000Z     P
80          OFR  2011-09-03T23:54:23.497000Z     P

[416383 rows x 3 columns]

In [24]:
# Rename the df
_p_stas_picks_phase = p_stas_picks_phase.rename(columns={"station_code": "station", "trace_p_arrival": "time"})
_p_stas_picks_phase

   station                         time phase
0     J73A  2012-01-01T00:05:02.112800Z     P
1     J73A  2012-01-01T00:06:29.732800Z     P
2     J73A  2012-01-01T00:10:51.532800Z     P
3     J73A  2012-01-01T00:12:19.652800Z     P
4     J73A  2012-01-01T00:15:03.812800Z     P
..     ...                          ...   ...
76     OFR  2011-09-03T21:24:19.537000Z     P
77     OFR  2011-09-03T22:15:52.837000Z     P
78     OFR  2011-09-03T23:07:50.617000Z     P
79     OFR  2011-09-03T23:18:13.857000Z     P
80     OFR  2011-09-03T23:54:23.497000Z     P

[416383 rows x 3 columns]

In [25]:
# Assign S to S phases in the df
s_phase = df.loc[df['trace_s_arrival'].notna(), 'phase'] = "S"# Filter the df

In [26]:
# Filter the df 
s_stas_picks_phase = df.loc[df['trace_s_arrival'].notna(), ['station_code','trace_s_arrival','phase']]
s_stas_picks_phase

    station_code              trace_s_arrival phase
174         J73A  2012-01-01T00:00:36.452800Z     S
175         J73A  2012-01-01T00:05:14.452800Z     S
176         J73A  2012-01-01T00:06:30.412800Z     S
177         J73A  2012-01-01T00:36:20.572800Z     S
178         J73A  2012-01-01T01:02:26.192800Z     S
..           ...                          ...   ...
180          OFR  2011-09-03T22:50:52.137000Z     S
181          OFR  2011-09-03T23:09:54.177000Z     S
182          OFR  2011-09-03T23:25:45.557000Z     S
183          OFR  2011-09-03T23:40:02.157000Z     S
184          OFR  2011-09-03T23:42:48.957000Z     S

[283322 rows x 3 columns]

In [27]:
# Rename the df
_s_stas_picks_phase = s_stas_picks_phase.rename(columns={"station_code": "station", "trace_s_arrival": "time"})
_s_stas_picks_phase

    station                         time phase
174    J73A  2012-01-01T00:00:36.452800Z     S
175    J73A  2012-01-01T00:05:14.452800Z     S
176    J73A  2012-01-01T00:06:30.412800Z     S
177    J73A  2012-01-01T00:36:20.572800Z     S
178    J73A  2012-01-01T01:02:26.192800Z     S
..      ...                          ...   ...
180     OFR  2011-09-03T22:50:52.137000Z     S
181     OFR  2011-09-03T23:09:54.177000Z     S
182     OFR  2011-09-03T23:25:45.557000Z     S
183     OFR  2011-09-03T23:40:02.157000Z     S
184     OFR  2011-09-03T23:42:48.957000Z     S

[283322 rows x 3 columns]

In [28]:
# Concatenate the P and S picks
picks = pd.concat(objs = [_p_stas_picks_phase,_s_stas_picks_phase] , axis=0)
picks

    station                         time phase
0      J73A  2012-01-01T00:05:02.112800Z     P
1      J73A  2012-01-01T00:06:29.732800Z     P
2      J73A  2012-01-01T00:10:51.532800Z     P
3      J73A  2012-01-01T00:12:19.652800Z     P
4      J73A  2012-01-01T00:15:03.812800Z     P
..      ...                          ...   ...
180     OFR  2011-09-03T22:50:52.137000Z     S
181     OFR  2011-09-03T23:09:54.177000Z     S
182     OFR  2011-09-03T23:25:45.557000Z     S
183     OFR  2011-09-03T23:40:02.157000Z     S
184     OFR  2011-09-03T23:42:48.957000Z     S

[699705 rows x 3 columns]

In [29]:
# Swap the time and phase columns
picks = picks.iloc[:,[0,2,1]]
picks = picks.reset_index(drop=True)
picks

       station phase                         time
0         J73A     P  2012-01-01T00:05:02.112800Z
1         J73A     P  2012-01-01T00:06:29.732800Z
2         J73A     P  2012-01-01T00:10:51.532800Z
3         J73A     P  2012-01-01T00:12:19.652800Z
4         J73A     P  2012-01-01T00:15:03.812800Z
...        ...   ...                          ...
699700     OFR     S  2011-09-03T22:50:52.137000Z
699701     OFR     S  2011-09-03T23:09:54.177000Z
699702     OFR     S  2011-09-03T23:25:45.557000Z
699703     OFR     S  2011-09-03T23:40:02.157000Z
699704     OFR     S  2011-09-03T23:42:48.957000Z

[699705 rows x 3 columns]

In [30]:
picks[0:20]

   station phase                         time
0     J73A     P  2012-01-01T00:05:02.112800Z
1     J73A     P  2012-01-01T00:06:29.732800Z
2     J73A     P  2012-01-01T00:10:51.532800Z
3     J73A     P  2012-01-01T00:12:19.652800Z
4     J73A     P  2012-01-01T00:15:03.812800Z
5     J73A     P  2012-01-01T00:20:17.952800Z
6     J73A     P  2012-01-01T00:24:19.952800Z
7     J73A     P  2012-01-01T00:28:21.032800Z
8     J73A     P  2012-01-01T00:41:46.132800Z
9     J73A     P  2012-01-01T01:01:31.712800Z
10    J73A     P  2012-01-01T01:02:22.052800Z
11    J73A     P  2012-01-01T01:04:01.612800Z
12    J73A     P  2012-01-01T01:15:27.472800Z
13    J73A     P  2012-01-01T01:26:44.612800Z
14    J73A     P  2012-01-01T01:39:55.572800Z
15    J73A     P  2012-01-01T01:55:05.412800Z
16    J73A     P  2012-01-01T02:18:49.312800Z
17    J73A     P  2012-01-01T02:31:50.712800Z
18    J73A     P  2012-01-01T02:38:33.412800Z
19    J73A     P  2012-01-01T02:48:54.532800Z

In [31]:
# Save the these picks to the data folder
picks.to_csv("../data/datasets_nwa_shore/picks_nwa_shore.csv")

## 2. Create the stations data frame

In [32]:
# Print the stations for which the picks were detected in 1_parallel_detect_picks_elep_all_sta 
stations = df.drop_duplicates(subset='station_code')
stations

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,phase
0,,,7D,,J73A,NaN,48.767700,-126.192497,-143.3,,50.000000,2012-01-01T00:00:00.012800Z,,,,,,NaN,2012-01-01T00:05:02.112800Z,P
0,,,UW,,OFR,NaN,47.933128,-124.396042,152.0,,50.000000,2012-01-01T00:00:00.009000Z,,,,,,NaN,2012-01-01T00:03:38.889000Z,P
0,,,7D,,M01A,NaN,49.150398,-126.722099,-132.9,,50.000008,2012-01-01T00:00:00.018100Z,,,,,,NaN,2012-01-01T00:29:26.257830Z,P
0,,,7D,,J65A,NaN,47.891300,-125.139603,-165.2,,49.999992,2012-01-01T00:00:00.006900Z,,,,,,NaN,2012-01-01T00:24:32.687125Z,P
0,,,CN,,OZB,NaN,48.961200,-125.497800,626.0,,40.000000,2012-01-01T00:00:00.000000Z,,,,,,NaN,2012-01-01T04:41:26.050000Z,P
0,,,UW,,FORK,NaN,47.947500,-124.566200,44.9,,40.000000,2012-01-24T00:00:00.000000Z,,,,,,NaN,2012-01-24T00:06:10.825000Z,P
0,,,CN,,NTKA,NaN,49.592400,-126.616600,12.0,,100.000000,2014-04-18T00:00:00.000000Z,,,,,,NaN,2014-04-18T00:16:05.500000Z,P
0,,,7D,,J65C,NaN,47.891300,-125.139801,-169.0,,50.000000,2014-05-01T00:00:00.000944Z,,,,,,NaN,2014-05-01T00:02:21.060944Z,P
0,,,7D,,J73C,NaN,48.767899,-126.192596,-133.0,,50.000000,2014-01-03T00:30:15.631042Z,,,,,,NaN,2014-01-03T00:32:06.371042Z,P
0,,,CN,,BFSB,NaN,48.833600,-125.136000,33.0,,100.000000,2014-01-08T00:00:00.000000Z,,,,,,NaN,2014-01-08T01:08:16.550000Z,P
0,,,7D,,M01C,NaN,49.150398,-126.722198,-138.0,,50.000000,2014-03-17T00:00:00.014988Z,,,,,,NaN,2014-03-17T00:20:45.134988Z,P
0,,,C8,,TOFB,NaN,49.154300,-125.907800,13.0,,100.000000,2015-06-25T00:00:00.000000Z,,,,,,NaN,2015-06-25T00:06:25.980000Z,P
0,,,CN,,BMSB,NaN,48.835600,-125.135500,10.0,,40.000000,2011-07-17T00:00:00.000000Z,,,,,,NaN,2011-07-17T00:05:14.850000Z,P

In [33]:
# Obtain only the columns you need for assoication
_stations = stations.iloc[:,[4,7,6,8]]
_stations

,station_code,station_longitude_deg,station_latitude_deg,station_elevation_m
0,J73A,-126.192497,48.767700,-143.3
0,OFR,-124.396042,47.933128,152.0
0,M01A,-126.722099,49.150398,-132.9
0,J65A,-125.139603,47.891300,-165.2
0,OZB,-125.497800,48.961200,626.0
0,FORK,-124.566200,47.947500,44.9
0,NTKA,-126.616600,49.592400,12.0
0,J65C,-125.139801,47.891300,-169.0
0,J73C,-126.192596,48.767899,-133.0
0,BFSB,-125.136000,48.833600,33.0
0,M01C,-126.722198,49.150398,-138.0
0,TOFB,-125.907800,49.154300,13.0
0,BMSB,-125.135500,48.835600,10.0

In [34]:
# Rename the columns
_stations = _stations.rename(columns={'station_code': 'id', 'station_longitude_deg': 'longitude', 'station_latitude_deg': 'latitude', 'station_elevation_m': 'elevation'})
_stations = _stations.reset_index(drop=True)
_stations

      id   longitude   latitude  elevation
0   J73A -126.192497  48.767700     -143.3
1    OFR -124.396042  47.933128      152.0
2   M01A -126.722099  49.150398     -132.9
3   J65A -125.139603  47.891300     -165.2
4    OZB -125.497800  48.961200      626.0
5   FORK -124.566200  47.947500       44.9
6   NTKA -126.616600  49.592400       12.0
7   J65C -125.139801  47.891300     -169.0
8   J73C -126.192596  48.767899     -133.0
9   BFSB -125.136000  48.833600       33.0
10  M01C -126.722198  49.150398     -138.0
11  TOFB -125.907800  49.154300       13.0
12  BMSB -125.135500  48.835600       10.0

In [35]:
# Create  a csv file
_stations.to_csv('../data/datasets_nwa_shore/all_stations_nwa_shore.csv')

## 3. Make pick and station data frames for different CI years

### 3.1 Make pick and station data frames for CI year 1 of 2012

### 3.1.1 Picks

In [38]:
t = pd.Timestamp(f'{year}-7-31 00:00:00.000000+0000', tz='UTC')
picks = pd.read_csv("../data/datasets_2012/picks_2012.csv",index_col=0)
picks["time"] = pd.to_datetime(picks['time'], utc = True)
picks_CI1 = picks[picks['time']<=t]
picks_CI1

        station phase                             time
0           PGC     P 2012-01-25 06:10:29.225000+00:00
1           PGC     P 2012-01-25 06:46:04.625000+00:00
2           PGC     P 2012-01-25 07:00:06.025000+00:00
3           PGC     P 2012-01-25 07:07:06.925000+00:00
4           PGC     P 2012-01-25 08:05:24.075000+00:00
...         ...   ...                              ...
3715118     KBO     S 2012-02-08 12:14:33.610000+00:00
3715119     KBO     S 2012-02-08 13:25:05.800000+00:00
3715120     KBO     S 2012-02-08 14:50:53.370000+00:00
3715121     KBO     S 2012-02-08 15:37:35.810000+00:00
3715122     KBO     S 2012-02-08 19:13:18.460000+00:00

[1677988 rows x 3 columns]

In [39]:
picks_CI1.to_csv('../data/datasets_2012/picks_2012_CI1.csv')

### 3.1.2 Stations

In [43]:
stas = pd.read_csv("../data/datasets_2012/all_stations_2012.csv",index_col=0)
stas

        id   longitude   latitude  elevation
0      PGC -123.452100  48.649800       12.0
1     KSXB -123.876884  41.830379     1136.0
2      JCC -124.029549  40.817451       27.2
3      VGZ -123.325100  48.413100       67.0
4     J01D -123.931396  43.161400      131.0
..     ...         ...        ...        ...
110  BB060 -126.113297  42.856098    -2795.0
111  FS14B -124.591797  40.495499     -107.0
112   M06A -124.926804  45.529499    -1439.0
113  FS11B -124.577797  40.429199     -132.0
114   G20B -126.613297  41.298698    -3141.0

[115 rows x 4 columns]

In [50]:
stas_CI1 = list(picks_CI1['station'].drop_duplicates().values)
stas_CI1

['PGC',
 'KSXB',
 'JCC',
 'VGZ',
 'J01D',
 'LEBA',
 'KHBB',
 'J50A',
 'FN14A',
 'KCT',
 'KBO',
 'OZB',
 'J51A',
 'SHB',
 'J25A',
 'KEB',
 'LZB',
 'FN16A',
 'M03A',
 'FN07A',
 'D03D',
 'DBO',
 'KRP',
 'J59A',
 'I02D',
 'TAKO',
 'J42A',
 'MEGW',
 'KRMB',
 'KMPB',
 'F04D',
 'HEBO',
 'J57A',
 'J43A',
 'J49A',
 'G03D',
 'J73A',
 'FORK',
 'WISH',
 'RADR',
 'M08A',
 'L02D',
 'BABR',
 'NLLB',
 'SNB',
 'KHMB',
 'J35A',
 'K02D',
 'J65A',
 'G03A',
 'J58A',
 'KMR',
 'JEDS',
 'FISH',
 'OFR',
 'M07A',
 'PFB',
 'M01A',
 'I03D',
 'LRIV',
 'J33A',
 'BTB',
 'NC89',
 'M06A',
 'J25B',
 'NCBC']

In [52]:
_stas_CI1 = stas.loc[stas['id'].isin(stas_CI1)]
_stas_CI1

       id   longitude   latitude  elevation
0     PGC -123.452100  48.649800       12.0
1    KSXB -123.876884  41.830379     1136.0
2     JCC -124.029549  40.817451       27.2
3     VGZ -123.325100  48.413100       67.0
4    J01D -123.931396  43.161400      131.0
..    ...         ...        ...        ...
101  NC89 -126.848767  48.670537    -1258.0
102  M07A -125.116798  44.898701    -1356.5
104  M01A -126.722099  49.150398     -132.9
108  J33A -124.570801  45.106602     -348.7
112  M06A -124.926804  45.529499    -1439.0

[66 rows x 4 columns]

In [53]:
_stas_CI1.to_csv('../data/datasets_2012/stations_2012_CI1.csv')